{% extends 'base.html.twig' %}
{% block title %} {{ parent() }} - Change Password{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h1 class="my-5 text-center">Change Password</h1>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-primary btn-lg btn-block" formnovalidate>Update</button>
            <a href="{{ path('app_account') }}" class="btn btn-danger btn-lg btn-block">Cancel</a>
            {{ form_end(form) }}

        </div>
    </div>
{% endblock %}