{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - Create Pin
{% endblock %}

{% block body %}
<h1>Create New Pin</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}

    <input type="submit" value="Create Pin" formnovalidate>
    <a href="{{ path('app_home') }}"><input type="button" value="Go home"></a>

    {{ form_rest(form) }}
    {{ form_end(form) }}
{% endblock %}